html, body {
	padding:0;
	margin:0;
}

.screen {
	padding:16px;
	border:1px solid #ccc;
	margin:16px;
}

.button{
	background-color:#eee;
	border:1px outset #ccc;
	padding:12px;
	display:block;
	border-radius:8px;
	font-weight:bold;
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

.button-do{
	background-color:#cfc;
	
}

.button-right{

}
.button-left{}